<!--<strawpoll id=""-->
<div class="strawpoll-embed" id="strawpoll_{{ .Get `id` }}"
  style="height: 608px; max-width: 640px; width: 100%; margin: 0 auto; display: flex; flex-direction: column;"><iframe
    title="StrawPoll Embed" id="strawpoll_iframe_{{ .Get `id` }}" src="https://strawpoll.com/embed/polls/{{ .Get `id` }}"
    style="position: static; visibility: visible; display: block; width: 100%; flex-grow: 1;" frameborder="0"
    allowfullscreen allowtransparency>Loading...</iframe>
  <script async src="https://cdn.strawpoll.com/dist/widgets.js" charset="utf-8"></script>
</div>
